.card{
    background: linear-gradient(135deg, #ffe4ec, #ffd6e8);
    padding: 30px;
    border-radius: 30px;
    width: 320px;
    margin: 30px auto;
    box-shadow: 0 8px 20px rgba(255, 182, 193, 0.3);
    text-align: center;
    transition: transform 0.3s ease;
}
.card:hover{
  transform: translateY(-5px);
}

.texte{
    font-size: 20px;
    font-weight: bold;
    color: #d63384;
    margin-bottom: 15px;
}

.h1{
    font-size: 16px;
    color: #6a0572;
    margin: 8px 0;
    font-weight: 500;
}
.h1:hover{
    color: #ff4da6;
    transition: 0.3s;
}